{% load static %}
{% block body %}
<div class="postlist">
    {% for post in postObjects%}
      <div class="post" id="{{post.id}}">
        <a href="/account/{{post.userKey.id}}" class="username">{{post.userKey}}</a>
        <p class="dateCreated">{{post.dateCreated}}</p>
        <p class="content">{{post.content}}</p>
        {% if user.is_authenticated  %}
            {% if not post.userLikedThis %}
                <button class="likeCount like" onclick="handleLikeStatus('{{post.id}}', event)">Like: <span>{{post.likeCount}}</span></button>
            {% else %}
                <button class="likeCount unlike" onclick="handleLikeStatus('{{post.id}}', event)">Liked: <span>{{post.likeCount}}</span></button>
            {% endif %}
        {% else %}
            <button class="likeCount disabled" disabled>Likes: {{post.likeCount}}</button>
        {% endif %}
      </div>
    {%endfor%}
    <div class="pagination">
        <button onclick="pageBefore()" id="prevButton">Previous</button>
        <button onclick="pageNext()" id="nextButton">Next</button>
    </div>
</div>
<script defer>
    const handleLikeStatus= async(postID, e) => {
        clickedButton = e.target.closest('button.likeCount')
        const currentLikeCount = parseInt(clickedButton.querySelector('span').innerHTML); 
        const isLike = clickedButton.classList.contains('like') ? true : false;
        const payload = {
            isLike: isLike,
            postID: postID
        }
        try{
            const res = await fetch('/submitpost',{
                credentials: 'include',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload)
            })
            const data = await  res.json()
            console.log(data)
            // Replace button
            if(isLike){
                clickedButton.classList.replace('like', 'unlike')
                clickedButton.innerHTML = `Liked: <span>${currentLikeCount+1}</span>`
            }else{
                clickedButton.classList.replace('unlike', 'like')
                clickedButton.innerHTML = `Like: <span>${currentLikeCount-1}</span>`
            }
        }catch(e){
            console.log(e)
        }
    }
</script>
<script>
    const currentNumPosts = document.querySelectorAll('.post').length
    //URl params
    let urlParams = new URLSearchParams(window.location.search)
    urlParams = {
        first: (urlParams.get('first')) ? parseInt(urlParams.get('first')) : 0, 
        last: (urlParams.get('last')) ? parseInt(urlParams.get('last')) : 10
    }
    // Disabling buttons
    prevButton.disabled = false
    if(urlParams.first===0){
        prevButton.disabled = true
    }
    nextButton.disabled = false
    if(currentNumPosts<10){
        nextButton.disabled = true
    }
    // Client side pagination
    const pageNext = () => {
        window.location.href = window.location.href.split(/[?#]/)[0] + `?first=${urlParams.first+10}&last=${urlParams.last+10}`
    }
    const pageBefore = () => {
        window.location.href = window.location.href.split(/[?#]/)[0] + `?first=${urlParams.first-10}&last=${urlParams.last-10}`
    }
</script>
<style>
    div.postlist{
        width: 50%;
        display: flex; flex-direction: column;
    }
    div.postlist .post{
        width: 100%;
        display: flex; flex-direction: column; 
        box-sizing: border-box;
        padding: 20px;
        box-shadow: 0 0 3px #BBBBBB;
        border-radius: 5px;
        margin-bottom: 15px;

    }
    div.postlist .post a{
        text-decoration: underline;
        font-weight: 500;
    }
    div.postlist .post a, div.postlist .post p.dateCreated{
        display: flex;
        margin-bottom: 10px;
    }
    div.postlist .post button.likeCount{
        width: fit-content;
        padding: 3px 10px;
        border-radius: 3px;
        margin-top: 20px;
        cursor: pointer;
        background-color: rgb(81, 0, 255);
        color: white;
    }
    div.postlist .post button.likeCount:hover{
        background-color: rgb(72, 0, 228);
    }
    div.postlist .post button.likeCount.unlike{
        background-color: #DDDDDD;
        color: black;
    }
    div.postlist .post button.likeCount.unlike:hover{
        background-color: #BBBBBB;
    }
    div.postlist .post button.likeCount.disabled{
        background-color: #DDDDDD;
        cursor: default;
        color: black;
    }
    div.postlist  .pagination{
        margin: 20px 0;
        width: 100%;
        display: flex; justify-content: center;
    }
    div.postlist  .pagination button{
        margin-right: 15px;
        padding: 10px;
        border-radius: 3px; 
    }
</style>
{% endblock %}